###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Library/assetDatabase3
Library/metadata/00/00000000000000005100000000000000
Library/metadata/00/00000000000000008000000000000000
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
*.csproj
Library/assetDatabase3
Library/metadata/00/00000000000000005100000000000000
Library/metadata/00/00000000000000008000000000000000
Library/metadata/16/160e1e7f38e0f428481261d0258e704e
Library/metadata/16/160e1e7f38e0f428481261d0258e704e.info
Library/metadata/4c/4cd26ebca36ccac49aef1a201321be7d
Library/metadata/4c/4cd26ebca36ccac49aef1a201321be7d.info
Library/metadata/75/75198d4511048451c9dc3d61862e771b
Library/metadata/75/75198d4511048451c9dc3d61862e771b.info
Library/metadata/81/81154777d5417884981849c5243f6c01
Library/metadata/81/81154777d5417884981849c5243f6c01.info
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe0.log
